body{

font-family:Arial;
margin:0;

}

nav{

display:flex;
justify-content:space-between;
background:#0f3d91;
color:white;
padding:20px;

}

.navlinks a{

color:white;
margin-left:20px;
text-decoration:none;

}

.hero{

background:linear-gradient(#1f6fff,#0f3d91);
color:white;
padding:120px;
text-align:center;

}

.cta{

background:#22c55e;
padding:15px 30px;
border-radius:6px;
color:white;
text-decoration:none;

}

.features{

display:flex;
justify-content:space-around;
padding:80px;

}

.features div{

width:250px;
text-align:center;

}

table{

margin:auto;
border-collapse:collapse;

}

td,th{

border:1px solid gray;
padding:10px;

}
